.bg-rec{
    background: #EDF1F5;
    padding: 5rem 0;
    .listjob-rec{
        background-color: white;
        padding: 15px 25px;
        .search__card{
            border-bottom: 3px solid #d2e6f0;
        }
    }
}