.find-candidate{
    background-color: #F5F8FA;
    padding: 30px 0;
 .searching{
     background-color: #fff;
     padding: 35px 25px;
    h1{
        color: #333;
        font-size: 22px;
        line-height: 30px;
    }
    }
   .search-input{
       display: flex;
       input{
           margin-right: 15px;
       }
   } 
}
