.detail-job{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .detail-job__desc{
        max-width: 70%;
        flex-basis: 70%;
    }
    .detail-job__relation{
        max-width: 30%;
        flex-basis: 30%;
    }
  
}
.list-candidate-man{
    border: 1px dashed rgba(104, 98, 98, 0.322);
    padding: 10px;

}
.item-join{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed rgba(104, 98, 98, 0.322);
    margin-bottom: 5px;
    padding: 5px;
    h3{
        font-size: 16px;
    }
    h5{
        font-size: 16px;
    }
}